.slick-arrow.slick-prev {
  position: absolute;
  top: 100%;
  transform: translate(120%, -24px);
}

.slick-arrow.slick-next {
  top: 100%;
  transform: translate(-100%, -24px);
}

.slick-arrow.slick-prev::before {
  content: "Prev";
  color: #fff;
  font-family: var(--font-biro);
  font-size: 24px;
  line-height: 24px; /* 100% */
  transition: all 0.5s;
}

.slick-arrow.slick-next::before {
  content: "Next";
  color: #fff;
  font-family: var(--font-biro);
  font-size: 24px;
  line-height: 24px; /* 100% */
  transition: all 0.5s;
}

.slick-slider {
  padding: 0 0 44px 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .slick-slider {
    padding: 24px 0 48px 0;
  }

  .slick-arrow.slick-prev {
    position: absolute;
    top: 100%;
    left: 39%;
    transform: translate(0, -24px);
  }

  .slick-arrow.slick-next {
    top: 100%;
    right: 39%;
    transform: translate(0, -24px);
  }
}

@media screen and (min-width: 1280px) {
  .centralMode .slick-slide.slick-center {
    animation: changeScaleBig 0.5s forwards;
  }

  .centralMode .slick-slide {
    animation: changeScaleSmall 0.5s forwards;
  }

  .slick-slider {
    padding: 24px 0;
  }

  .slick-slider.centralMode,
  .slick-slider.over {
    padding: 24px 24px;
  }

  .slick-arrow.slick-next {
    top: 100%;
    right: 43%;
    transform: translate(0, 24px);
  }
  .slick-arrow.slick-prev {
    top: 100%;
    left: 43%;
    transform: translate(0, 24px);
  }
}

@keyframes changeScaleBig {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes changeScaleSmall {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
.slick-list.dragging {
  cursor: pointer;
}
